name: Deploy .NET 6 container example to ACR

on:
  workflow_dispatch:

env:
  IMAGE_NAME: epprofilernet6container
  CONTAINER_APP_NAME: epprofiler6containerapp
  CONTAINER_APP_RESOURCE_GROUP: epprofilernet6container

jobs:
  docker_build_push_acr:
    name: 'Docker Build and Push to ACR'
    runs-on: ubuntu-latest
    environment: production
  
    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
  
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2
  
    - name: 'Docker Login'
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.ACR_ENDPOINT }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
 
    - name: Build the WebAPI image and push it to ACR
      uses: docker/build-push-action@v4
      with:
        context: examples/EnableServiceProfilerForContainerAppNet6
        file: examples/EnableServiceProfilerForContainerAppNet6/dockerfile
        push: true
        tags: ${{ secrets.ACR_ENDPOINT }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

    # Reference: https://github.com/marketplace/actions/azure-login#configure-deployment-credentials
    - name: Log in to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Reference:     
    - name: deploy Container App
      uses: Azure/container-apps-deploy-action@v1
      with:
        acrName: ${{ secrets.ACR_NAME }}
        containerAppName: ${{ env.CONTAINER_APP_NAME }}
        resourceGroup: ${{ env.CONTAINER_APP_RESOURCE_GROUP }}
        imageToDeploy: ${{ secrets.ACR_ENDPOINT }}/${{ env.IMAGE_NAME }}:${{ github.sha }}